---
name: fencer
url: /fencer
controller: FencerController
---


<div id="sidebar" class="medium-2 grid-block vertical competition-sidebar">
    <div class="grid-content shrink competition-search">
        <input type="search" placeholder="Search..." />
    </div>
</div>
<div id="main" class="medium-10 grid-block vertical">
    <div class="grid-block">
        <div class="grid-content ng-scope">
            <section class="results block-list">

                    <header>Fencers</header>
                    <ul>
                        <li ng-repeat="fencer in fencers"><input type="number" placeholder="1"></li>
                    </ul>

            </section>
        </div>
    </div>
    <div class="grid-block shrink">
        <div class="grid-content action-bar">
            <div class="menu-group">
                <div class="menu-group-left">
                    <ul class="menu-bar">
                        <li><a href="#">Item One</a></li>
                        <li><a href="#">Item Too</a></li>
                        <li><a href="#">Item Three</a></li>
                    </ul>
                </div>
                <div class="menu-group-right">
                    <ul class="menu-bar">
                        <li>
                            <button zf-toggle="new-fencer" class="button">+ New Fencer</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div zf-panel="" class="" position="right" id="new-fencer">
        <a zf-close="" class="close-button">×</a>
        <h3 class="title">New Fencer</h3>
        <div class="grid-block vertical">
            <div class="grid-block">
                <div class="grid-content">

                    <form novalidate>
                        <label>
                            First Name
                            <input required type="text" placeholder="First Name">
                        </label>
                        <label>
                            Last Name
                            <input required type="text" placeholder="Last Name">
                        </label>
                        <label>
                            Club
                            <input required type="text" placeholder="Club">
                        </label>
                        <label>Gender</label>
                        <input required type="radio" name="gender" value="Red" id="male">
                        <label for="male">Male</label>
                        <input required type="radio" name="gender" value="Blue" id="female">
                        <label for="female">Female</label>
                        <br/>
                        <button class="expand button primary" href="#" zf-open="my-notify">Submit</button>
                    </form>
                </div>               
            </div>
            <div class="grid-block shrink">
                <div class="grid-content">
                    <button zf-close="" class="expand button alert">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>



